{% macro confirmButton(endpoint='#', text="text", icon="👻", value="") %}
    <div id="confirm_button" class="flex-shrink-0">
        <button type="button" class="btn btn-outline-dark flex-shrink-0" data-toggle="modal" data-target="#ConfirmModal-{{ text }}">
            {{ icon }} {{ text }}
        </button>

        <div id="ConfirmModal-{{ text }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">{{ icon }} {{ text }}</div>
                    <div class="modal-body">하루에 한번만 누를 수 있어요.</div>
                    <div class="modal-footer">
                        <form action="{{ endpoint }}" method="post">
                            <input class="visually-hidden" type="text" name="study_type" value="{{ value }}">
                            <button type="submit" class="btn btn-primary">밥주기</button>
                            <button class="btn btn-default" data-dismiss="modal">취소</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}