{% macro whaleCard() %}
<div id="whaleCard" class="whaleCard" style="width: 26rem">
    <img style="width:100%" src="https://growup-whale.s3.ap-northeast-2.amazonaws.com/level1%E1%84%80%E1%85%A9%E1%84%85%E1%85%A2-removebg.png" alt="gg">
</div>
{% endmacro %}



<!-- https://growup-whale.s3.ap-northeast-2.amazonaws.com/level1%E1%84%80%E1%85%A9%E1%84%85%E1%85%A2-removebg.png -->
<!-- https://growup-whale.s3.ap-northeast-2.amazonaws.com/DALL_E_2023-12-06_20.03.46_-_A_cartoon-style_muscular_whale_character_with_a_grandfatherly_style_added._This_version_of_the_muscular_whale_has_elements_like_a_gray_beard__spectacl-removebg-preview.png -->
<!-- https://growup-whale.s3.ap-northeast-2.amazonaws.com/DALL_E_2023-12-07_01.31.31_-_An_inventive_character_that_combines_the_features_of_a_gorilla_and_a_whale__designed_in_a_unique_cartoon_style._This_character_merges_the_muscular_bui-removebg-preview+(1).png -->